## Step 3 - Import libraries and data set

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 4/22-08-2022 Instacart Basket Analysis/02 Data'

In [3]:
# Import the “customers 2.csv” file into Jupyter as df_cust

df_cust = pd.read_csv(os.path.join(path, 'Original data', 'customers 2.csv'), index_col=False)

## Step 4 - Data wrangling

In [ ]:
df_cust

In [ ]:
df_cust['user_id'].value_counts(dropna = False)

In [ ]:
df_cust['First Name'].value_counts(dropna = False)

In [36]:
# Create a subset with the NaN values. (Doing this after having changed the name of the Fist Name column to first_name below)

df_nan = df_cust[df_cust['first_name'].isnull() == True]

In [37]:
df_nan

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, dependants_number, family_status, income]
Index: []

In [ ]:
df_cust['Surnam'].value_counts(dropna = False)

In [ ]:
df_cust['Gender'].value_counts(dropna = False)

In [ ]:
df_cust['STATE'].value_counts(dropna = False)

In [ ]:
df_cust['Age'].value_counts(dropna = False)

In [ ]:
df_cust['date_joined'].value_counts(dropna = False)

In [ ]:
df_cust['n_dependants'].value_counts(dropna = False)

In [ ]:
df_cust['fam_status'].value_counts(dropna = False)

In [ ]:
df_cust['income'].value_counts(dropna = False)

In [16]:
# Rename all columns except user_id, date_joined and income

df_cust.rename(columns = {'First Name' : 'first_name'}, inplace = True)
df_cust.rename(columns = {'Surnam' : 'last_name'}, inplace = True)
df_cust.rename(columns = {'Gender' : 'gender'}, inplace = True)
df_cust.rename(columns = {'STATE' : 'state'}, inplace = True)
df_cust.rename(columns = {'Age' : 'age'}, inplace = True)
df_cust.rename(columns = {'n_dependants' : 'dependants_number'}, inplace = True)
df_cust.rename(columns = {'fam_status' : 'family_status'}, inplace = True)

In [26]:
# Change data type of user_id and date_joined columns

df_cust['user_id'] = df_cust['user_id'].astype('str')
df_cust['date_joined'] = df_cust['date_joined'].astype('str')

In [ ]:
# Check the data types

df_cust.dtypes

In [ ]:
# Use the describe() function to get descriptive statistics

df_cust.describe()

## Step 5 - Data quality and consistency checks

In [32]:
# Check for mixed-type columns

for col in df_cust.columns.tolist():
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_cust[weird]) > 0:
    print (col)

first_name

In [ ]:
# Check the data type of column first_name

df_cust.first_name

In [34]:
# Change data type of first_name column

df_cust['first_name'] = df_cust['first_name'].astype('str')

In [ ]:
# Find missing values

df_cust.isnull().sum()

In [38]:
# Find duplicates

df_cust_dups = df_cust[df_cust.duplicated()]

In [39]:
df_cust_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, dependants_number, family_status, income]
Index: []

In [50]:
# Exporting df_cust as 'customer_2_checked.csv'

df_cust.to_csv(os.path.join(path, 'Prepared Data', 'customer_2_checked.csv'))

## Combine the customer data with the rest of the prepared Instacart data

In [42]:
# Import the orders_products_merged dataframe from the pickle file you saved

df_ords_prods_mrg = pd.read_pickle(os.path.join(path, 'Prepared data', 'orders_products_merged_flags.pkl'))

In [ ]:
df_ords_prods_mrg.head()

In [ ]:
df_cust.head()

In [ ]:
# Check the data types of df_ords_prods_mrg

df_ords_prods_mrg.dtypes

In [47]:
# Change data type of user_id column in df_ords_prods_mrg dataframe

df_ords_prods_mrg['user_id'] = df_ords_prods_mrg['user_id'].astype('str')

In [ ]:
df_ords_prods_mrg['user_id'].dtype

In [51]:
# Merge df_ords_prods_mrg and df_cust dataframes using df.merge() on user_id column

df_ords_prods_cust = df_ords_prods_mrg.merge(df_cust, on = 'user_id')

## Step 8 - Exporting data

In [52]:
# Exporting df_ords_prods_cust as 'orders_products_customer_merged.pkl'

df_ords_prods_cust.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_customer_merged.pkl'))